
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Heroku Is Really Awesome!</h1>
		<p>This is a small sample Heroku node app <a href="http://heroku.com">Heroku</a></p>
		<a href="http://trailhead.salesforce.com/" class="btn btn-primary btn-lg">Go To Trailhead</a>
	</div>
</div>
	
</body>
</html>